{% load static %}
<html>
<head>
    <style>

.pencil {
  cursor: crosshair;
<!--  cursor: url({% static "main/pencil.png" %}) 5 5, pointer;-->
}

.button {
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button3 {border-radius: 30%;}
.button5 {border-radius: 50%;}
.buttonadd {border-radius: 50%;padding: 8px;margin: 10px 20px;}

ul{
display:flex;
list-style:none;
}

ul li{
padding: 5px;
border:1px solid green;
font-size:20px;
background-color:grey;
}

    </style>
</head>
<body id="body0">

<script>

function acWin(win_name="none", win_title="none", width="500", height="300", left="0", top="0", is_scroll=true)
{

//alert(win_name +" : " + win_title +" : " + width +" : " + height +" : " + left +" : " + top)


  this.win_name = win_name
  this.win_frame = document.createElement("div");
  this.win_frame.setAttribute("id", "win_frame_"+this.win_name);
  this.style_frame = "position: fixed; background-color: white; z-index: 11; text-align: left;"
  this.style_frame += "height:"+height+"px;width:"+width+"px;font-size:12pt;"
  this.style_frame += "border:2px solid #0094ff;"
  this.style_frame += "border-top-left-radius:35px;border-top-right-radius:35px;"
  this.style_frame += "left:"+left+";top:"+top+";"
  this.win_frame.setAttribute("style", this.style_frame);

  this.title_height = 25
  this.win_frame_title = document.createElement("div");
  this.win_frame_title.setAttribute("id", "win_frame_title_"+this.win_name);
  this.style_title = "text-align:center;display:block;padding:4px;color:#fff;margin:-1 0 0 0;height:"+this.title_height+"px;z-index:11;"
  this.style_title += "background-color:#2196F3;color:#fff;cursor:move;font-size:12pt;border-top-left-radius:35px;border-top-right-radius:35px;"
  this.win_frame_title.setAttribute("style", this.style_title);
  this.win_frame_title.innerHTML = win_title
  this.win_frame.appendChild(this.win_frame_title)

  this.win_frame_ico = document.createElement("img");
  this.win_frame_ico.setAttribute("id", "win_frame_ico_"+this.win_name);
  this.win_frame_ico.setAttribute("src", "http://www.academycity.org/static/core/globs.jpg");
  this.win_frame_ico.setAttribute("style", "border-radius: 10px;position: absolute;left: 30");
  this.win_frame_ico.setAttribute("height", "20");
  this.win_frame_ico.setAttribute("width", "20");
  this.win_frame_title.appendChild(this.win_frame_ico)

  this.win_content = document.createElement("div");
  this.win_content.setAttribute("id", "win_content_"+this.win_name);
  //this.win_content.innerHTML = "Content."
  if(is_scroll==true)
  {
   this.style_content = "overflow: scroll;"
  }
  "height:"+(height-this.title_height-7)+"px;width:"+width+"px"
  this.win_content.setAttribute("style", this.style_content);
  this.win_frame.appendChild(this.win_content)
  //--
  this.win_nav = document.createElement("div");
  this.win_nav.setAttribute("id", "win_nav_"+this.win_name);
  this.style_win_nav = "position:fixed;text-align:center;width:80;display:none; left:"+left+";top:"+top+";";
  this.win_nav.setAttribute("style", this.style_win_nav)

  this.win_nav_ico = document.createElement("img");
  this.win_nav_ico.setAttribute("id", "win_nav_ico_"+this.win_name);
  this.win_nav_ico.setAttribute("src", "http://www.academycity.org/static/core/globs.jpg");
  this.win_nav_ico.setAttribute("style", "border-radius: 10px;position: absolute;left: 30");
  this.win_nav_ico.setAttribute("height", "20");
  this.win_nav_ico.setAttribute("width", "20");
  this.win_nav.appendChild(this.win_nav_ico)

  this.span = document.createElement("span");
  this.span.setAttribute("id", "span_"+this.win_name);
  this.span.innerHTML = "&nbsp;Whiteboard"
  this.span.setAttribute("style", "position: absolute;left: 50");
  this.win_nav.appendChild(this.span)

  body_ = document.getElementById("body0")
  body_.appendChild(this.win_frame)
  body_.appendChild(this.win_nav)

  s = ''
  s += 'this.win_frame_ico.addEventListener("click", function(){'
  s += '  event.preventDefault();'
  s += '  if (x_'+this.win_name+'.style.display === "none") {'
  s += '    x_'+this.win_name+'.style.display = "block";'
  s += '    n_'+this.win_name+'.style.display = "none";'
  s += '  } else {'
  s += '    x_'+this.win_name+'.style.display = "none";'
  s += '    n_'+this.win_name+'.style.display = "block";'
  s += '  }'
  s += '}.bind(elm = this.win_frame_ico, event, x_'+this.win_name+' = this.win_frame, n_'+this.win_name+' = this.win_nav));'
  eval(s)

  s = ''
    s += 'this.win_nav_ico.addEventListener("click", function(){'
      s += 'event.preventDefault();'
      s += 'if (x_'+this.win_name+'.style.display==="none") {'
      s += 'x_'+this.win_name+'.style.display="block";'
      s += 'n_'+this.win_name+'.style.display="none";'
      s += '} else {'
      s += 'x_'+this.win_name+'.style.display="none";'
      s += 'n_'+this.win_name+'.style.display="block";'
      s += '}'
    s += '}.bind(this.win_nav_ico, event, x_'+this.win_name+' = this.win_frame, n_'+this.win_name+' = this.win_nav));'
  eval(s)

  this.win_frame_title.setAttribute('pos1', 0);
  this.win_frame_title.setAttribute('pos2', 0);
  this.win_frame_title.setAttribute('pos3', 0);
  this.win_frame_title.setAttribute('pos4', 0);


  s = ''
  s += 'this.win_frame_title.addEventListener("mousedown", function(){'
  s += 'event.preventDefault();'
  s += 'elm_win_frame_title_'+this.win_name+'.setAttribute("pos3", event.clientX);'
  s += 'elm_win_frame_title_'+this.win_name+'.setAttribute("pos4", event.clientY);'
  s += 'document.addEventListener("mouseup", my_mouse_up_'+this.win_name+' = function(){'
  s += 'event.preventDefault();'
  s += 'try{'
  s += 'document.removeEventListener("mouseup", my_mouse_up_'+this.win_name+');'
  s += 'document.removeEventListener("mousemove", my_mouse_move_'+this.win_name+');'
  s += '} catch (err) {err.message}'
  s += '}.bind(elm_win_frame_title_'+this.win_name+', event));'

    //document.onmousemove = elementDrag;
  s += 'document.addEventListener("mousemove", my_mouse_move_'+this.win_name+' = function(){'
  s += 'event.preventDefault();'
        // calculate the new cursor position:
  s += 'pos3 = elm_win_frame_title_'+this.win_name+'.getAttribute("pos3");'
  s += 'pos4 = elm_win_frame_title_'+this.win_name+'.getAttribute("pos4");'
  s += 'pos1 = pos3 - event.clientX;'
  s += 'pos2 = pos4 - event.clientY;'
  s += 'pos3 = event.clientX;'
  s += 'pos4 = event.clientY;'
  s += 'elm_win_frame_title_'+this.win_name+'.setAttribute("pos3", pos3);'
  s += 'elm_win_frame_title_'+this.win_name+'.setAttribute("pos4", pos4);'
        // set the element's new position:
  s += 'elm_win_frame_'+this.win_name+'.style.top = (elm_win_frame_'+this.win_name+'.offsetTop - pos2) + "px";'
  s += 'elm_win_frame_'+this.win_name+'.style.left = (elm_win_frame_'+this.win_name+'.offsetLeft - pos1) + "px";'

  s += 'elm_win_nav_'+this.win_name+'.style.top = elm_win_frame_'+this.win_name+'.style.top;'
  s += 'elm_win_nav_'+this.win_name+'.style.left = elm_win_frame_'+this.win_name+'.style.left;'

        //elm_win_frame_title.innerHTML = elm_win_frame.offsetTop + " : " + elm_win_frame.offsetLeft
        //elm_win_frame_title.innerHTML = elm_win_nav.offsetTop + " : " + elm_win_nav.offsetLeft

  s += '}.bind(elm_win_frame_title_'+this.win_name+', event, elm_win_frame_'+this.win_name+', elm_win_nav_'+this.win_name+'));'

  s += '}.bind(elm_win_frame_title_'+this.win_name+' = this.win_frame_title, event, elm_win_frame_'+this.win_name
  s += ' = this.win_frame, elm_win_nav_'+this.win_name+' = this.win_nav));'
  eval(s)
}

</script>

<script>
function Whiteboard (win_name_, win_title_, socket, chat_room_name)
{
  var name = win_name_.toString(); // course_schedule_id
  var width_ = "1000"
  var height_ = "500"
  acWin.call(this, win_name= name, win_title=win_title_, width=width_, height=height_, left="100", top="100", is_scroll=false)
    var socket = socket
    //this.colors = ['black', 'green', 'red', 'blue']
    var color_match = {}
     color_match['#000000']= 'black';
     color_match['#008000']= 'green';
     color_match['#ff0000']= 'red';
     color_match['#0000ff']= 'blue';
    //--
    var drawing_colors = document.createElement("div");
    drawing_colors.setAttribute("id", "drawing_colors"+ name)
    win_content.appendChild(drawing_colors)
    //--
    //--
    var tab_titles = document.createElement("ul");
    tab_titles.setAttribute("id", "titles-" + name);
    tab_titles.setAttribute("class", "nav nav-tabs")
    win_content.appendChild(tab_titles)
    //--
    var board_contents = document.createElement("div");
    board_contents.setAttribute("id", "contents-" + name);
    board_contents.setAttribute("class", "tab-content")
    win_content.appendChild(board_contents)
    var TabObjects = {}
    //--
    var button_add = document.createElement("button");
    button_add.setAttribute("id", "button_add")
    button_add.setAttribute("class", "button buttonadd")
    button_add.setAttribute("style", "background-color: lightblue;border-radius: 12px;")
    button_add.innerHTML = 'Add Whiteboard2'
    var n_whiteboard = 1

    button_add.addEventListener("click", function(){
         event.preventDefault();
         var ss = prompt('Enter Whiteboard name:', '')
         if(ss != "" && ss != null)
         {
          setTab("n_"+n_whiteboard.toString(), ss)
         }
      });
    drawing_colors.appendChild(button_add)

    for(var key in color_match)
    {
      var c = color_match[key];
      var cc = document.createElement("button");
      cc.setAttribute("id", "id_"+c)
      cc.setAttribute("class", "button button5")
      cc.setAttribute("style", "background-color: "+c)
      cc.addEventListener("click", function(){
      event.preventDefault();

      });

      drawing_colors.appendChild(cc)
    }

  setTab = function(name, title) {
  //alert(111)
     TabObjects[title] = new WhiteboardTab(name, title)
     var event = Event("click", {bubbles: false}); TabObjects[name].tabTitle.dispatchEvent(event)
  }


 function WhiteboardTab(name, title, width="1000", height="500", top="15", right="25", background_color="#f1f1f1",
 background_color_header="#2196F3", border_color="#f1f1f1", header_color="#fff", z_index=10)
{
  var name= name; var title= title;
  var width= width; var height= height;
  var background_color= background_color; var background_color_header= background_color_header;
  var border_color= border_color; var header_color= header_color;var z_index=z_index;
  var ed = document.createElement("div");

  ed.setAttribute("style", "background-color:#f1f1f1; height: 394; width: 995; text-align:left;border : 3px solid #f1f1f1; z-index:10; ")

 var elm_canvas = document.createElement("canvas");
 elm_canvas.setAttribute("width", "995")
 elm_canvas.setAttribute("height", "394")
 elm_canvas.setAttribute("class", "pencil")
 elm_canvas.setAttribute("is_drawing", "false")
 elm_canvas.setAttribute("style", "border:3px solid #000000")
 var ctx = elm_canvas.getContext('2d');
  ctx.lineJoin = 'round';
  ctx.lineCap = 'round';
  ctx.lineWidth = 1;
  ctx.strokeStyle = 'black';
  elm_canvas.setAttribute("lastX", 0)
  elm_canvas.setAttribute("lastY", 0)
  elm_canvas.setAttribute("obj_name", name)

  elm_canvas.addEventListener('mouseup', (e) => {e.target.setAttribute("is_drawing", "true");});
  elm_canvas.addEventListener('mouseout', (e) => e.target.setAttribute("is_drawing", "true"));
  elm_canvas.addEventListener('mousedown', (e) => {
  //alert(elm_canvas.outerHTML)
    elm = e.target; elm.setAttribute("is_drawing", "false");
    elm.setAttribute("lastX", e.offsetX);
    elm.setAttribute("lastY", e.offsetY);
  });
  elm_canvas.addEventListener("mousemove", function(){
    // stop the function if they are not mouse down
    elm = event.target
    var is_drawing = elm.getAttribute("is_drawing")
    if(is_drawing == "false") return;


    //alert(9)
    //alert(title)
    //alert(TabObjects[title])

    //listen for mouse move event
    console.log(event);
    //--
    var ctx = TabObjects[title].ctx
    //--
    //alert(ctx)
    ctx.beginPath();
    lastX = elm.getAttribute("lastX")
    lastY = elm.getAttribute("lastY")
    ctx.moveTo(lastX, lastY);
    ctx.lineTo(event.offsetX, event.offsetY);
    ctx.stroke();
<!--    alert(92)-->
    elm.setAttribute("lastX", event.offsetX)
    elm.setAttribute("lastY", event.offsetY)
    co =color_match[CurrentWhiteboardTab.ctx.strokeStyle]
    ss = co + "," + lastX + "," + lastY + "," + event.offsetX + "," + event.offsetY

<!--    alert(93)-->

   var dic_ = {'type': 'wm', 'message': ss}
   socket.send(JSON.stringify(dic_))

<!--    alert(94)-->

  });
 alert(elm_canvas.outerHTML)
  ed.appendChild(elm_canvas)

  board_contents.appendChild(ed)

  var e = document.createElement("li")
  e.setAttribute("class", "nav-item")
  //alert(e.innerHTML)
  var ea = document.createElement("a")
  ea.setAttribute("class", "nav-link ")
  ea.setAttribute("id", "tab-")
  ea.setAttribute("obj_name", "ss")
  ea.setAttribute("href", "#ss")
  ea.innerHTML = title
  e.appendChild(ea)
  //tab_titles.appendChild(e)
  tab_titles.insertBefore(e, tab_titles.childNodes[0])

  ea.addEventListener("click", function(){
    event.preventDefault();
    elm = event.target;
    alert(elm)
    })

}


}
Whiteboard(win_name_=123, win_title_="Whiteboard1", socket='', chat_room_name='')

</script>
</body>
</html>